*{
    margin: 0;
    padding: 0;
}

body{
    padding-left: 15%;
    padding-right: 15%;
}

/* Nav bar */

.nav{
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1.5%;
    margin-bottom: 3%;
}

.nav h1{
    margin-left: 3%;
}

#search-bar{
    border-color: black;
    border-width: 3px;
    border-style: solid ;
    display:flex;
    align-items: center;
    width: 30%;
    height: 25px;
}

#login-btn{
    color: white;
    padding: 0.5%;
    width: 8%;
    background-color: rgb(74, 74, 227);
    box-shadow: 4px 4px 4px black;
    margin-right: 3%;
}

/* main section */

.info-container{
    display: flex;
    justify-content: space-between;
}

.info-box{
    display: flex;
    justify-content: space-betwwen;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    height: 150px;
    margin-bottom: 2%;
    margin-right: 2%;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex: 1;
    
}
.word{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#like-btn{
   background-color: darkgoldenrod;
   width: 60%;
   margin-top: 5%;
   box-shadow: 4px 4px 4px black;
   font-weight: bold;
   padding: 4% 2%;
}
.description{
    display: flex;
    flex:3;
    padding: 5%;
}

.adding-box{
    border-style: solid;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    padding: 10%;
}
.adding-box h2{
    margin-left: -10%;

}

#add-btn{
    padding: 2%;
    margin-top: 10%;
    width: 100%;
    box-shadow: 4px 4px 4px black;
    background-color: rgb(77, 171, 88);
}
.col-1{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.col-2{
    display: flex;
    flex:1;
    flex-direction: column;
}